.gift-h {
    margin-bottom: 30px;
}

.gift-h:not(:first-child) {
    margin-top: 50px;
}

.gift-p {
    color: #666;
}

.gift-p strong {
    color: #333;
}

.green-color {
    color: rgb(0, 192, 48);
    font-weight: bold;
}
